
### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]


### Django ###
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
.env
db.sqlite3
/personal_website/config

### Client ###
/app/static/node_modules
.vscode

